@tailwind base;
@tailwind components;
@tailwind utilities;

span.line-through-full::before{
    content:'';
    display: block;
    /* width: 100%; */
    border-top: 1.5px solid #000;
    height: 1.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    right: 10px;
}